/.vs/supergame/v16/Browse.VC.db
/.vs/supergame/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/supergame/v16/.suo
/.vs/supergame/v16/ipch/AutoPCH/5323557b7dc4cee8/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/5593341250a622e1/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/59248fc6bbeea8f4/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/8b1a26e5c020bf0a/MAIN.ipch
/bin/intermediates/Win32/Debug/main.obj
/bin/intermediates/Win32/Debug/supergame.Build.CppClean.log
/bin/intermediates/Win32/Debug/supergame.log
/bin/intermediates/Win32/Debug/supergame.tlog/CL.command.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/CL.read.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/CL.write.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.command.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.read.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.write.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/supergame.lastbuildstate
/bin/intermediates/Win32/Debug/supergame.vcxproj.FileListAbsolute.txt
/bin/intermediates/Win32/Debug/vc142.idb
/bin/intermediates/Win32/Debug/vc142.pdb
/bin/Win32/Debug/supergame.exe
/bin/Win32/Debug/supergame.ilk
/bin/Win32/Debug/supergame.pdb
/bin/intermediates/x64/Debug/main.obj
/bin/intermediates/x64/Debug/supergame.log
/bin/intermediates/x64/Debug/supergame.tlog/CL.command.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/CL.read.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/CL.write.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.command.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.read.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.write.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/supergame.lastbuildstate
/bin/intermediates/x64/Debug/vc142.idb
/bin/intermediates/x64/Debug/vc142.pdb
/bin/x64/Debug/supergame.exe
/bin/x64/Debug/supergame.ilk
/bin/x64/Debug/supergame.pdb
