/.vs/supergame/v16/Browse.VC.db
/.vs/supergame/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/supergame/v16/.suo
/.vs/supergame/v16/ipch/AutoPCH/5323557b7dc4cee8/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/5593341250a622e1/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/59248fc6bbeea8f4/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/8b1a26e5c020bf0a/MAIN.ipch
/bin/intermediates/Win32/Debug/main.obj
/bin/intermediates/Win32/Debug/supergame.Build.CppClean.log
/bin/intermediates/Win32/Debug/supergame.log
/bin/intermediates/Win32/Debug/supergame.tlog/CL.command.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/CL.read.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/CL.write.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.command.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.read.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/link.write.1.tlog
/bin/intermediates/Win32/Debug/supergame.tlog/supergame.lastbuildstate
/bin/intermediates/Win32/Debug/supergame.vcxproj.FileListAbsolute.txt
/bin/intermediates/Win32/Debug/vc142.idb
/bin/intermediates/Win32/Debug/vc142.pdb
/bin/Win32/Debug/supergame.exe
/bin/Win32/Debug/supergame.ilk
/bin/Win32/Debug/supergame.pdb
/.vs/supergame/v16/ipch/AutoPCH/105e6d432e8efddc/SYSTEM.ipch
/.vs/supergame/v16/ipch/AutoPCH/1272652965fca143/TILEMANAGER.ipch
/.vs/supergame/v16/ipch/AutoPCH/1d2e6b2dbf3da62c/GRID.ipch
/.vs/supergame/v16/ipch/AutoPCH/2aacacc7ca366fba/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/2f145c5b1b15ceb9/KEYBOARD.ipch
/.vs/supergame/v16/ipch/AutoPCH/383bd58e07745db1/GRID.ipch
/.vs/supergame/v16/ipch/AutoPCH/3c099235a8a24cd2/SYSTEM.ipch
/.vs/supergame/v16/ipch/AutoPCH/502733b5b188fb32/GRID.ipch
/.vs/supergame/v16/ipch/AutoPCH/5eca6676982dc54a/MAIN.ipch
/.vs/supergame/v16/ipch/AutoPCH/68cf7df882c2f464/INPUTMANAGER.ipch
/.vs/supergame/v16/ipch/AutoPCH/7438d6eedab2ed0c/SYSTEM.ipch
/.vs/supergame/v16/ipch/AutoPCH/98db436242b0b71e/TILEMANAGER.ipch
/.vs/supergame/v16/ipch/AutoPCH/b062c27fb3b17de7/INPUTMANAGER.ipch
/.vs/supergame/v16/ipch/AutoPCH/c954d7ed924c8e/TILEMANAGER.ipch
/.vs/supergame/v16/ipch/AutoPCH/eb27ca6286217a61/GRID.ipch
/.vs/supergame/v16/ipch/AutoPCH/eecbbc71809b994/INPUTMANAGER.ipch
/bin/intermediates/Win32/Debug/grid.obj
/bin/intermediates/Win32/Debug/inputmanager.obj
/bin/intermediates/Win32/Debug/system.obj
/bin/intermediates/Win32/Debug/system.obj.enc
/bin/intermediates/Win32/Debug/tilemanager.obj
/bin/intermediates/Win32/Release/grid.obj
/bin/intermediates/Win32/Release/inputmanager.obj
/bin/intermediates/Win32/Release/main.obj
/bin/intermediates/Win32/Release/supergame.log
/bin/intermediates/Win32/Release/supergame.tlog/CL.command.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/CL.read.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/CL.write.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/link.command.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/link.delete.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/link.read.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/link.write.1.tlog
/bin/intermediates/Win32/Release/supergame.tlog/supergame.lastbuildstate
/bin/intermediates/Win32/Release/supergame.tlog/supergame.write.1u.tlog
/bin/intermediates/Win32/Release/system.obj
/bin/intermediates/Win32/Release/tilemanager.obj
/bin/intermediates/Win32/Release/Tiles.obj
/bin/intermediates/Win32/Release/vc142.pdb
/bin/intermediates/x64/Debug/main.obj
/bin/intermediates/x64/Debug/supergame.log
/bin/intermediates/x64/Debug/supergame.tlog/CL.command.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/CL.read.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/CL.write.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.command.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.read.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/link.write.1.tlog
/bin/intermediates/x64/Debug/supergame.tlog/supergame.lastbuildstate
/bin/intermediates/x64/Debug/supergame.tlog/unsuccessfulbuild
/bin/intermediates/x64/Debug/vc142.idb
/bin/intermediates/x64/Debug/vc142.pdb
/bin/Win32/Release/supergame.exe
/bin/Win32/Release/supergame.iobj
/bin/Win32/Release/supergame.ipdb
/bin/Win32/Release/supergame.pdb
/.vs/supergame/v16/ipch/AutoPCH/219363e74b159258/IMGUI_DEMO.ipch
/.vs/supergame/v16/ipch/AutoPCH/22d734bc725d0a3c/IMGUI_WIDGETS.ipch
/.vs/supergame/v16/ipch/AutoPCH/23ae9bcd27625fb4/IMGUI-SFML.ipch
/.vs/supergame/v16/ipch/AutoPCH/35b13b89149414f6/IMGUI_SUPERENGINE.ipch
/.vs/supergame/v16/ipch/AutoPCH/4e7c728615be9083/IMGUI.ipch
/.vs/supergame/v16/ipch/AutoPCH/54cef341cd42c640/IMGUI.ipch
/.vs/supergame/v16/ipch/AutoPCH/6035660073bf2655/IMGUI_SUPERENGINE.ipch
/.vs/supergame/v16/ipch/AutoPCH/9b8478b805537266/IMCONFIG.ipch
/.vs/supergame/v16/ipch/AutoPCH/e26b60841b44e6a4/IMGUI.ipch
/bin/intermediates/Win32/Debug/imgui.obj
/bin/intermediates/Win32/Debug/imgui_demo.obj
/bin/intermediates/Win32/Debug/imgui_draw.obj
/bin/intermediates/Win32/Debug/imgui_superengine.obj
/bin/intermediates/Win32/Debug/imgui_widgets.obj
/bin/intermediates/Win32/Debug/imgui-SFML.obj
/enc_temp_folder/ea423df167fbc27812e47d1a218d8186/main.cpp
